#lookup{
    background-color: blue;
    border: 2px white solid;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 10px 15px;
}
h1{
    color: orange;
    
}
#Search{
    background-color: purple;
    border: 2px white solid;
    color: black;
    text-align: center;
    font-size: 16px;
    padding: 10px 15px;
}
h3{
    color: blue;
}